
  <body>
<div class="container app-body">
<h1>Cocktails</h1>
<%=link_to new_cocktail_path, class: "btn btn-primary mb-3" do%>
  Create a Cocktail <i class="fas fa-cocktail"></i>
<% end %>
 <div class="d-flex justify-content-center flex-wrap">
  <% @cocktails.each do |cocktail| %>
    <%=link_to cocktail_path(cocktail) do%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?cocktail)">
        <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>
 </div>
</div>



