// Specific CSS for your home-page

body{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.form-control-file, .form-control-range {
    display: block;
    width: 80%;
}
